@font-face {
    font-family: Rubik;
    src: url("assets/fonts/Rubik-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: Rubik;
    src: url("assets/fonts/Rubik-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url("assets/fonts/Rubik-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Rubik;
    src: url("assets/fonts/Rubik-Light.ttf");
    font-weight: 100;
}

html {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(205, 76, 42), rgb(249, 197, 33));
    background-repeat: no-repeat;
    direction: rtl;
    color: white;
    font-family: Rubik;
    overflow: hidden;
    margin: 0;
}

.opening {
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opening>div {
    font-weight: 100;
}

.opening>div>a>button {
    border-style: none;
    border-radius: 0.7em;
    width: 35%;
    font-family: Rubik;
    font-size: 120%;
    font-weight: bold;
    color: white;
    background-color: rgb(80, 91, 181);
    padding-top: 4%;
    padding-bottom: 4%;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
    margin-top: 10%;
}

.about-btn {
    width: 9%;
    position: absolute;
    left: 5%;
    bottom: 5%;
    align-self: flex-end;
}

.about {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    transition: 1s ease-in-out;
    transition-property: clip-path, -webkit-clip-path;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    background-image: linear-gradient(to bottom left, rgb(205, 76, 42), rgb(249, 197, 33));
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    pointer-events: none;
    font-weight: 300;
    font-size: 130%;
    display: flex;
    flex-direction: column;
}

 .about>div {
    margin-right: 5%;
}

.about>div>p {
    margin: 3%;
}

.about>div>h1 {
    margin: 2%;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-content>div {
    align-self: flex-end;
}

.about>div>div>img {
    width: 20%;
    height: 100%;
    margin: 4%;
    margin-top: 10%;
}

.about-x {
    width: 9%;
   align-self: flex-end;
   margin-top: 5%;
   margin-left: 5%;
}

.about.transition, .filler.transition {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    pointer-events: all;
}

.about-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.header {
    text-align: center;
    background-image: linear-gradient(to left, rgb(205, 76, 42), rgb(249, 197, 33));
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    height: 8%;
}

.header>h2 {
    align-self: center;
    margin: 0 auto;
    transform: translate(-8%);
}

.content-about-btn {
    width: 9%;
    margin-left: 3%;
}

.navbar {
    background-color: white;
    color: rgb(159, 160, 166);
    font-weight: 100;
    font-size: 90%;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.curr {
    color: rgb(17,45,77);
    font-weight: bold;
}

.content {
    text-align: center;
} 

.content>h2 {
    font-weight: bold;
}

.part2-content>h1 {
    margin-top: 0;
}

.title {
    width: 60%;
    margin: 0 auto;
    margin-top: 1.3em;
    text-align: center;
}

.big-square {
    color: rgb(17,45,77);
    background-color: white;
    font-weight: 100;
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 5%;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
}

.small-square {
    color: rgb(80,91,181);
    background-color: white;
    font-weight: 100;
    width: 80%;
    margin: 0 auto;
    border-radius: 1em;
    padding: 3%;
    display: flex;
    text-align: right;
    margin-top: 10%;
}

.part1-content>.page1>.big-square>div, .part1-content>.page2>.big-square>div {
    padding-top: 15%;
    padding-bottom: 20%;
    width: 70%;
    transform: translate(-40%);
}

.part1-content>.page1>img:first-of-type {
    width: 30%;
    position: absolute;
    top: 23%;
    right: 5%;
}

.exer3-signs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.exer3-signs-img {
    width: 30%;
    padding: 3%
}

.next, .go-to-exer {
    width: 10%;
    position: absolute;
    bottom: 3%;
    left: 5%;
}

.prev, .part-prev {
    width: 10%;
    position: absolute;
    bottom: 3%;
    right: 5%;
}

.question-mark {
    font-weight: bold;
    font-size: 300%;
}

.part1-content>.page2>img:last-of-type {
    width: 30%;
    position: absolute;
    top: 23%;
    right: 5%;
}

.start {
    border-style: none;
    border-radius: 0.6em;
    background-image: linear-gradient(rgb(120, 179, 243), rgb(80,91,181));
    color: white;
    font-family: Rubik;
    font-size: 100%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.2);
    margin-top: 20%;
    width: 40%;
    align-self: center;
}

.part4-content>.page1>.big-square>img {
    width: 20%;
    transform: translateY(40%);
}

.part4-content>.page1>.big-square {
    padding-bottom: 10%;
}

.part4-content>.page2>.big-square>img {
    width: 20%;
    margin: 5%;
    margin-top: 10%;
}

.part4-content>.page3>.big-square:not(.pop-up) {
    height: 70%;
}

.road {
    width: 100%;
}

.exer-container {
    display: none;
    justify-content: center;
}

.part1-exer, .part2-exer {
    font-weight: 100;
    width: 80%;
}

.part1-exer>h3, .part2-exer>h3 {
    margin-bottom: 2%;
    margin-top: 1%;
}


.page1, .page2, .page3 {
    display: flex;
    flex-direction: column;
}

.marker {
    width: 10%;
    position: absolute;
    bottom: 4.5%;
    align-self: center;
}

.marker2 {
    width: 15%;
    position: absolute;
    bottom: 4.5%;
    align-self: center;
}

.part4-content > h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.got-it, .filler>.big-square>button {
    border-style: none;
    border-radius: 0.7em;
    background-color: white;
    color: rgb(120, 179, 243);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
    width: 45%;
    height: 6vh;
    margin: 0 auto;
    transform: translateY(90%);
    display: block;
    font-family: Rubik;
    font-size: 110%;
}

.pop-up>img {
    width: 30%;
    margin-top: 10%;
}

.part1-exer>div>img:not(.next), .part2-exer>div>img:not(.next) {
    width: 24%;
    margin: 1%;
}

.page1-exer>div {
    margin-bottom: 4%;
}

.page2-exer {
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.page2-exer>.small-square {
    padding: 5%;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
}

.page2-exer>.small-square:first-of-type {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: 85%;
    overflow-y: auto;
    margin-top: 1%;
}

.page2-exer>.small-square:last-of-type {
    overflow-x: auto;
    position: absolute;
    bottom: 0;
    border-radius: 1em;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0;
    padding-right: 0;
    height: 22%; 
    flex-direction: column;
    align-items: center;
}

.part3-exer>.page2-exer>.small-square:last-of-type {
    height: 5%; 
    flex-direction: row;
    justify-content: space-evenly;
}

.page2-exer>.small-square:last-of-type>div>img {
    width: 30vw;
    height: 80%;
}

.page2-exer>.small-square>div {
    display: flex;
    justify-content: center;
}

.page2-exer>.small-square>div:last-of-type {
    margin-bottom: 1%;
}

.page2-exer>.small-square>img {
    width: 15%;
}

.speech {
    background-image: url("assets/images/speech-bubble.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 10%;
    padding-top: 6.5%;
    color: white;
    margin-bottom: 3%;
}

.feedback {
    transform: translate(-5%);
    color: rgb(193, 45, 45);
    font-weight: 500;
    width: 66%;
}

.filler {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    transition: 1s ease-in-out;
    transition-property: clip-path, -webkit-clip-path;
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    height: 100%;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    pointer-events: none;
    font-weight: 300;
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}

.filler>.big-square {
    text-align: center;
}

.part2-exer {
    margin-top: 5%;
}

.part2-exer>.page2-exer {
    margin: 0 auto;
}

.part2-exer>h2 {
    margin-top: 0;
}

.part2-exer>.page2-exer>.small-square:first-of-type {
    width: 95%;
    transform: translateX(3%);
}

.part2-exer>.page2-exer>.small-square:last-of-type {
    height: 16%;
}

.part3-exer>.page2-exer>.road {
    background-image: url("assets/images/exer-background.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 70%;
    margin-top: 0;
    padding: 7%;
    padding-top: 20%;
    transform: translateY(-17%);
}

.part3-exer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.part3-exer>.small-square:first-of-type {
    text-align: center;
    font-weight: 500;
    margin-top: 3%;
}

.part3-exer>.small-square:last-of-type {
    margin-top: 1%;
    position: absolute;
    bottom: 0;
    width: 90%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: space-around;
}

.part3-exer>.small-square:last-of-type>img {
    width: 13%;
}

.exer-mark {
    width: 14%;
    height: 7%;
    border-radius: 31%;
    background-color: rgb(120, 179, 243);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}

.road>.answer1 {
    transform: translate(270%, -353%);
}

.road>.answer2 {
    transform: translate(77%, 325%);
}

.road>.answer3 {
    transform: translate(-85%, 315%);
}

.road>.answer4 {
    transform: translate(23%, 110%);
}

.check {
    border-style: none;
    border-radius: 0.7em;
    background-color: white;
    color: rgb(120, 179, 243);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
    width: 35%;
    height: 5vh;
    display: block;
    font-family: Rubik;
    font-size: 110%;
    transform: translate(-180%, -265%);
}

.video {
    margin-top: 10%;
}

.page3 .small-square:last-of-type {
    text-align: center;
}

.inactive {
    display: none;
}

